<ion-view view-title="Accueil">
<ion-content  class="test" overflow-scroll="true">
<ion-refresher
	on-refresh="doRefresh()"
	pulling-text="Pull to refresh..."
	pulling-icon="ion-ionic"
	refreshing-text="Refreshing!"
	refreshing-icon="ion-ionic">
</ion-refresher>
<div class="list card" ng-repeat="story in stories">

	<div class="item item-avatar">
		<img src="img/comines.png">
		<h2>Actualités Comines-Warneton</h2>
		<p>Date: {{story.publishedDate}} </p>
	</div>

	<div class="item item-body">
		{{story.title | utf}}
		<img class="full-image" src="{{story.content | image}}">
		<p>
			{{story.contentSnippet | utf}}
		</p>
	</div>	
	<div class="item tabs tabs-secondary tabs-icon-left">
		<a ng-href="{{story.link}}" onclick='window.open(this.href, "_system", "location=yes"); return false;' class="tab-item"><i class="icon icon ion-search"></i> Voir l'article sur le site</a>
		<a ng-click="shareAnywhere('{{story.contentSnippet}}','{{story.title}}','{{story.link}}')" class="tab-item"><i class="icon ion-share"></i> Partager</a>
	</div>
</div>
<ion-infinite-scroll on-infinite="" distance="5%"></ion-infinite-scroll>

</ion-content>
</ion-view>